# Task for practice pandas
Authored by: Muhammad Abuzar\
Where to contact: abuzaransri448@gmail.com

### Task 1: Basics Practice

In [ ]:
# import libraries
import pandas as pd
# read csv file
df = pd.read_csv('employees.csv')
df.head()

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df.tail()

In [ ]:
# change columns name to lowercase 
df.columns = df.columns.str.lower()
df.head()

In [ ]:
df['salary'].dtype

### Task 2: Data Selection & Filtering

In [ ]:
#select first 5 rows of age column
df['age'].head(5)

In [ ]:
# select rows where age > 25
df[df['age'] > 25]

In [ ]:
# select rows where age> 25  and salary > 60000
df[(df['age'] > 25) & (df['salary'] > 60000)]

### Task 3: Data Cleaning

In [ ]:
# check missing values 
df.isnull()

In [ ]:
# fill missing age values by mean age 
df['age'] = df['age'].fillna(df['age'].mean())
df.head()

In [ ]:
df.drop_duplicates()

### Task 4: Aggregation & Grouping

In [ ]:
# calculate average salary on basis of department
df.groupby('department')['salary'].mean()

In [ ]:
df['salary'].describe()

### Task 5: Sorting & Indexing

In [ ]:
# sort database on the basis of descending order of salary 
df.sort_values(by='salary', ascending=False)

In [ ]:
df.reset_index(drop= True, inplace= True)
df.head()

In [ ]:
# set employeeid as index
df.set_index('employeeid', inplace= True)
df.head()